html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
    padding: 0 1rem;
  }

.contentContainer {
  margin: auto;
  max-width: 600px;
  padding-top: $gap*2
}
  
  .main {
    min-height: 100vh;
    padding: 2rem 0;
    max-width: 1000px;
    margin: auto;

    @media screen and (min-width: $medium) {
      justify-content: center;
      padding: 4rem 0;
    }
  }
  
  .title a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }
  
  .title,
  .description {
    text-align: center;
  }

// Screenreaders
.screenReaderText {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;

  &:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: black;
    display: block;
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
  }
}

.select {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 100%;

  @media screen and (min-width: $medium) {
    font-size: $textMedium;
  }
}